<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_time1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{153,263}</string>
                <key>spriteSourceSize</key>
                <string>{247,327}</string>
                <key>textureRect</key>
                <string>{{435,1},{153,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_time2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{213,259}</string>
                <key>spriteSourceSize</key>
                <string>{247,327}</string>
                <key>textureRect</key>
                <string>{{270,268},{213,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_time3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{205,265}</string>
                <key>spriteSourceSize</key>
                <string>{247,327}</string>
                <key>textureRect</key>
                <string>{{228,1},{205,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_time4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{215,267}</string>
                <key>spriteSourceSize</key>
                <string>{247,327}</string>
                <key>textureRect</key>
                <string>{{1,272},{215,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_time5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{225,269}</string>
                <key>spriteSourceSize</key>
                <string>{247,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{225,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>time_count.png</string>
            <key>size</key>
            <string>{589,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b30488287b7c5d2d4e2b52b5f228b1bd:d6758bc9c40fc7406a707d8c4f950ba3:b5b6a4bb8508d54b64b2244db6e0d300$</string>
            <key>textureFileName</key>
            <string>time_count.png</string>
        </dict>
    </dict>
</plist>
