<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>draw_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_draw_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_draw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_draw_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{480,0},{160,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>draw.png</string>
            <key>size</key>
            <string>{640,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e14f571fe1d5841b945eace48937d202:1093968cde84dee8ab2e01363fe24b17:ca9defe286c82b9099a5c13e470b7e0b$</string>
            <key>textureFileName</key>
            <string>draw.png</string>
        </dict>
    </dict>
</plist>
