<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>am_guidehand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-29}</string>
                <key>spriteSize</key>
                <string>{134,170}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1307,933},{134,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>am_guidehand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{206,204}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1307,727},{206,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_guidehand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1307,257},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_guidehand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{226,230}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1307,495},{226,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{567,567},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{1307,1069},{153,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,738}</string>
                <key>spriteSourceSize</key>
                <string>{564,738}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,738}</string>
                <key>spriteSourceSize</key>
                <string>{564,738}</string>
                <key>textureRect</key>
                <string>{{1,741},{564,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,738}</string>
                <key>spriteSourceSize</key>
                <string>{564,738}</string>
                <key>textureRect</key>
                <string>{{567,1},{564,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,738}</string>
                <key>spriteSourceSize</key>
                <string>{564,738}</string>
                <key>textureRect</key>
                <string>{{741,567},{564,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,738}</string>
                <key>spriteSourceSize</key>
                <string>{564,738}</string>
                <key>textureRect</key>
                <string>{{1,1307},{564,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,242}</string>
                <key>spriteSourceSize</key>
                <string>{254,242}</string>
                <key>textureRect</key>
                <string>{{1307,1},{254,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{564,688}</string>
                <key>spriteSourceSize</key>
                <string>{564,738}</string>
                <key>textureRect</key>
                <string>{{741,1307},{564,688}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{1550,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58322d4ec8636136a73f6f6e080752d0:0ce2714e91a3fe5e3c0dc1a41d89c294:6f6c407afce584d64ce65df7e3a7492e$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
