<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_font21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,226}</string>
                <key>spriteSourceSize</key>
                <string>{230,226}</string>
                <key>textureRect</key>
                <string>{{226,1},{230,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,223}</string>
                <key>spriteSourceSize</key>
                <string>{521,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{521,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_fontbu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,92}</string>
                <key>spriteSourceSize</key>
                <string>{354,92}</string>
                <key>textureRect</key>
                <string>{{458,624},{354,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fontco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,203}</string>
                <key>spriteSourceSize</key>
                <string>{426,203}</string>
                <key>textureRect</key>
                <string>{{458,1},{426,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fontno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,195}</string>
                <key>spriteSourceSize</key>
                <string>{455,195}</string>
                <key>textureRect</key>
                <string>{{1,524},{455,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fontsco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,277}</string>
                <key>spriteSourceSize</key>
                <string>{424,277}</string>
                <key>textureRect</key>
                <string>{{226,229},{424,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fontwild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,229}</string>
                <key>spriteSourceSize</key>
                <string>{416,229}</string>
                <key>textureRect</key>
                <string>{{652,206},{416,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>specialFont.png</string>
            <key>size</key>
            <string>{885,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:152dd4e105afb91dc116d36a6c7ff6d0:5a4985c82e3b33dfdff921c3712af145:30409d2f40b94b3bd5ac55b08980f54c$</string>
            <key>textureFileName</key>
            <string>specialFont.png</string>
        </dict>
    </dict>
</plist>
