<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{0,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1404,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1560,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1716,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1872,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{156,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{312,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{468,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{624,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{780,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{936,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1092,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1248,0},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{0,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1404,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1560,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1716,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1872,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{156,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{312,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{468,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{624,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{780,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{936,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1092,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1248,214},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{0,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1404,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1560,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1716,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1872,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{156,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{312,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{468,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{624,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{780,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{936,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1092,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1248,428},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{0,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1404,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1560,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1716,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1872,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{156,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{312,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{468,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{624,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{780,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{936,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1092,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1248,642},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{2028,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03852df9589267bebd4e1fead37a0049:be778d42f17b04661f5c5d9629e18ee9:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
