<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1260,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1400,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1540,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1680,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{140,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{280,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{420,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{560,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{700,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{840,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{980,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1120,0},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{0,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1260,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1400,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1540,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1680,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{140,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{280,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{420,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{560,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{700,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{840,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{980,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1120,193},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{0,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1260,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1400,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1540,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1680,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{140,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{280,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{420,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{560,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{700,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{840,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{980,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1120,386},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{0,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1260,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1400,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1540,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1680,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{140,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{280,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{420,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{560,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{700,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{840,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{980,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,193}</string>
                <key>spriteSourceSize</key>
                <string>{140,193}</string>
                <key>textureRect</key>
                <string>{{1120,579},{140,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1820,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:955b66e93abdac038d934beb6727259a:fd225bdb7a06da9d11c70eb6f5582b8b:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
