<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tips01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,144}</string>
                <key>spriteSourceSize</key>
                <string>{1007,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{1007,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,144}</string>
                <key>spriteSourceSize</key>
                <string>{1007,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{1007,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,144}</string>
                <key>spriteSourceSize</key>
                <string>{1007,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{1007,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,144}</string>
                <key>spriteSourceSize</key>
                <string>{1007,144}</string>
                <key>textureRect</key>
                <string>{{1,439},{1007,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,144}</string>
                <key>spriteSourceSize</key>
                <string>{1007,144}</string>
                <key>textureRect</key>
                <string>{{1,585},{1007,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,144}</string>
                <key>spriteSourceSize</key>
                <string>{1007,144}</string>
                <key>textureRect</key>
                <string>{{1,731},{1007,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,144}</string>
                <key>spriteSourceSize</key>
                <string>{1007,144}</string>
                <key>textureRect</key>
                <string>{{1,877},{1007,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{1009,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd5edecc872985f8213cdcb7172db758:73ce26f1b744e2a99200301e2358679f:ea4aaab0bca5727fcea7912a6b6b86e7$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
