<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,68}</string>
                <key>textureRect</key>
                <string>{{1,97},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn.png</string>
            <key>size</key>
            <string>{92,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d367ac1eae8a255492bf2cf872fd6684:b172a96568f2913cff9a7605ce335f34:21888b5a08ea8ad38b3bfcc0abc07d4d$</string>
            <key>textureFileName</key>
            <string>btn.png</string>
        </dict>
    </dict>
</plist>
