<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{0,0},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_backgray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{153,0},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back_btn.png</string>
            <key>size</key>
            <string>{306,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bee14266627262c66b5518577dfdeb:b9dbea979fe5eff3d65cf24cfbe3ebf6:068aa18320a8e7e9fe9a2c700e364fa0$</string>
            <key>textureFileName</key>
            <string>back_btn.png</string>
        </dict>
    </dict>
</plist>
