<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_amazing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,141}</string>
                <key>spriteSourceSize</key>
                <string>{511,141}</string>
                <key>textureRect</key>
                <string>{{1,157},{511,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_awesome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,154}</string>
                <key>spriteSourceSize</key>
                <string>{583,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{583,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_great.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,135}</string>
                <key>spriteSourceSize</key>
                <string>{360,135}</string>
                <key>textureRect</key>
                <string>{{801,1},{360,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_sstreak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,213}</string>
                <key>spriteSourceSize</key>
                <string>{351,213}</string>
                <key>textureRect</key>
                <string>{{586,1},{351,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_streak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,131}</string>
                <key>spriteSourceSize</key>
                <string>{352,131}</string>
                <key>textureRect</key>
                <string>{{1,300},{352,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>font.png</string>
            <key>size</key>
            <string>{937,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:008501bedfc65228f017838bf89ce3c6:843a0c348f27b7b51cd29792c1439e6c:90bd8558f1bc1540882ee9b431362e98$</string>
            <key>textureFileName</key>
            <string>font.png</string>
        </dict>
    </dict>
</plist>
