<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>am_guidehand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,280}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1498,929},{262,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>am_guidehand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,280}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1498,1193},{262,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>am_guidehand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,280}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1498,1457},{262,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_guidehand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,280}</string>
                <key>spriteSourceSize</key>
                <string>{262,280}</string>
                <key>textureRect</key>
                <string>{{1762,1457},{262,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{1780,929},{153,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{1780,1084},{153,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,497}</string>
                <key>spriteSourceSize</key>
                <string>{926,497}</string>
                <key>textureRect</key>
                <string>{{1,1},{926,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,497}</string>
                <key>spriteSourceSize</key>
                <string>{926,497}</string>
                <key>textureRect</key>
                <string>{{1,929},{926,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,497}</string>
                <key>spriteSourceSize</key>
                <string>{926,497}</string>
                <key>textureRect</key>
                <string>{{500,1},{926,497}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,497}</string>
                <key>spriteSourceSize</key>
                <string>{926,497}</string>
                <key>textureRect</key>
                <string>{{1428,1},{926,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,497}</string>
                <key>spriteSourceSize</key>
                <string>{926,497}</string>
                <key>textureRect</key>
                <string>{{500,500},{926,497}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,497}</string>
                <key>spriteSourceSize</key>
                <string>{926,497}</string>
                <key>textureRect</key>
                <string>{{500,999},{926,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,497}</string>
                <key>spriteSourceSize</key>
                <string>{926,497}</string>
                <key>textureRect</key>
                <string>{{999,999},{926,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{2025,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d9d4e88eaecb4e635c83a06531a3d5b:eb4377564d0598caad0e10617141c027:6f6c407afce584d64ce65df7e3a7492e$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
