<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,144}</string>
                <key>spriteSourceSize</key>
                <string>{133,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{133,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,144}</string>
                <key>spriteSourceSize</key>
                <string>{133,144}</string>
                <key>textureRect</key>
                <string>{{133,0},{133,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{266,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e492ef67f614037f2daf94935d906e:d8bc6bcc10858204acf857c944e003a7:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
