<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{105,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{210,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{315,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{105,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{210,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{315,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{420,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{525,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{630,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{735,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{840,0},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{420,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{420,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{525,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{630,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{735,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{525,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{630,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{735,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{840,150},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{105,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{210,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{315,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{840,300},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{840,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{0,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{105,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{105,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{210,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{315,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{420,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{525,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{630,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{735,450},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart_k.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{210,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joke_gray.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{315,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joker_red.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{420,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{525,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_10.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{525,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_11.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{630,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_12.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{735,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_13.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{840,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{630,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{735,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{840,600},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{0,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_6.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{105,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_7.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{210,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_8.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{315,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade_9.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{105,150}</string>
                <key>textureRect</key>
                <string>{{420,750},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{945,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c44d03c1e134baf4c882beef7f480227:8e744d5772375ac063c65863068a20e9:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
