<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_font1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,186}</string>
                <key>spriteSourceSize</key>
                <string>{1065,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{1065,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,186}</string>
                <key>spriteSourceSize</key>
                <string>{1065,186}</string>
                <key>textureRect</key>
                <string>{{1,189},{1065,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,186}</string>
                <key>spriteSourceSize</key>
                <string>{1065,186}</string>
                <key>textureRect</key>
                <string>{{1,377},{1065,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>completeFont.png</string>
            <key>size</key>
            <string>{1067,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c870b3fa7f930b409e8f27eb239df17d:3a5d8657d50738f13ad709499e0ea47d:6712b2e4661186202ca171234649e3ef$</string>
            <key>textureFileName</key>
            <string>completeFont.png</string>
        </dict>
    </dict>
</plist>
