<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_afinish1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_afinish200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{84,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_afinish400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{167,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_afinish600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{250,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_afinish800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{333,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_sfinish1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{416,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_sfinish200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{499,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_sfinish400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{582,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_sfinish600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{665,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_sfinish800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{748,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_smfinish1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{831,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_smfinish200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{914,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_smfinish400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{997,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_smfinish600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1080,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_smfinish800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1163,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wfinish1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1246,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wfinish200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1329,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wfinish400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1412,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wfinish600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1495,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wfinish800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{1578,1},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>treasure.png</string>
            <key>size</key>
            <string>{1660,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f64322a8d350e85cb3ab109d16f9f2e:95121aa1e0c25b2d95a95ad926b388d8:49b77462aec7c47f7a9b277a07c02b82$</string>
            <key>textureFileName</key>
            <string>treasure.png</string>
        </dict>
    </dict>
</plist>
